
<div *ngIf="client">


    <div class="card">
        <div class="card-header text-white bg-primary">
            Police
        </div>
        <div class="card-body">
            <dl class="row-md jh-entity-details">

            </dl>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-white bg-primary">
            Crime
        </div>
        <div class="card-body">
            <dl class="row-md jh-entity-details">

            </dl>
        </div>
    </div>

</div>
